  <!-- เรียกใช้ JavaScript libraries ตามลำดับ -->
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    function redirectToLink(link) {
      window.location.href = link;
    }

    function logout() {
      localStorage.removeItem("token");
      localStorage.removeItem("userInfo");
      window.location.href = "/";
    }

    // Check if token is valid
    function getToken() {
      const token = localStorage.getItem("token");
      if (!token) {
        window.location.href = "/";
      } else {
        axios
          .post("/api/auth/verify-user-by-token", {
            token: token,
          })
          .then((response) => {
            const result = response.data;
            if (result.status === "success") {
              localStorage.setItem("userInfo", JSON.stringify(result.user));
              // ถ้าต้องการเรียกฟังก์ชันเริ่มต้น ให้เรียกตรงนี้
              if (typeof initPage === 'function') {
                initPage();
              }
            }
          })
          .catch((error) => {
            window.location.href = "/";
          });
      }
    }

    $(document).ready(function () {
      // Check Token and Load Function
      getToken();

      // กำหนด active สำหรับเมนูด้านบน
      const fullPath = window.location.pathname;
      if (fullPath.includes("/dashboard")) {
        document
          .getElementById("dashboard")
          .classList.add("active", "btn-primary");
        document
          .getElementById("dashboard")
          .classList.remove("btn-primary-outline");
      } else if (fullPath.includes("/indicators")) {
        document
          .getElementById("indicators")
          .classList.add("active", "btn-primary");
        document
          .getElementById("indicators")
          .classList.remove("btn-primary-outline");
      } else if (fullPath.includes("/work-group") || 
                fullPath.includes("/agency") || 
                fullPath.includes("/add-indicators") || 
                fullPath.includes("/basic-value") || 
                fullPath.includes("/config-admin/user")) {
        document
          .getElementById("Set up")
          .classList.add("active", "btn-primary");
        document
          .getElementById("Set up")
          .classList.remove("btn-primary-outline");
      }
    });
  </script>
</body>

</html> 